
.App-logo {
  pointer-events: none;
  width: 100%;
  height: auto;
}

.card {
	padding-left: .8em;
align-items: center;
  width: 250px;
  height: auto;
}

.App-header {
  background-color: #80c0f0;
  display: flex;
  align-items: center;
}

body {
  background-color: #80c0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  margin: 0;
}

h2{
font-size: 38px;
color: #066e3a;
margin: 1.2px;
padding-left: .5em;
  text-shadow: 1px 1px #063b21;
}

.main-container{
align-items: center;
justify-content: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin: 2em;
padding: 2em;
}


.footer {
  width: 250px;
  height: auto;
}

.footer-container {
text-align: center;
margin-bottom: -40px;
padding: 80px;
padding-bottom: 50px;
}



.box .content {
	height: 100%;
	display: flex;
	background-color: #80c0f0;
}


#info{
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-family: "Trirong", serif;
font-size: 22px;
color: white;
  text-shadow: 1px 1px #8d8d8f;
}

.box {
	width: 560px;
	height: 630px;
	box-sizing: border-box;
	padding: 15px;
	position: relative;
	overflow: hidden;
  margin: 3em;
}

.box::before {
	content: '';
	position: absolute;
	width: 150%;
	height: 150%;
	background: repeating-linear-gradient(
			white 0%,
			white 7.5px,
			#c43434 7.5px,
			#520d16 15px,
			white 15px,
			white 22.5px,
			#1f7a5a 22.5px,
			#094929 30px);
	transform: translateX(-20%) translateY(-20%) rotate(-45deg);
	animation: animate 50s linear infinite;
}

.box .content {
	position: relative;
	background-color: none;
	flex-direction: column;
	box-sizing: border-box;
	padding: 30px;
	text-align: left;
	z-index: 2;
}

.box,
.box .content {
	box-shadow: 0 0 2px #8f1d2c,
				0 0 5px rgba(0, 0, 0, 1),
				inset 0 0 5px rgba(0, 0, 0, 1);
	border-radius: 4px;
}

/* .box .content h2 {
	color: #7D0E1B;
} */

.box .content p {
	color: whitesmoke;
  margin: 15px;
}

@keyframes animate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}
