body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', "Audiowide", "Sofia", "Trirong", sans-serif monospace;
}

h1 {
  font-family: "Audiowide", sans-serif;
}

h2 {
  font-family: "Sofia", sans-serif;
}

h3 {
  font-family: "Trirong", serif;
}